html, body {
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif
}

h1 {
    color: #000080;
}

input {
    padding: 8px;
    width: 250px;
    font-size: 20px;
    border: 1px solid #000080;
    border-radius: 4px;
}

button {
    background: #000080;
    color: #ffffff;
    border-radius: 4px;
    width: 250px;
    padding: 8px;
    border: none;
    font-size: 20px;
}